body {
      max-width: 800px;
      margin: auto;
	  font-family: 'Open Sans', sans-serif;
	  font-family: 'Unbounded', cursive;
    }
	
    .avatar {
      width: 120px;
      margin-top: 20px;
    }

    .footer-logo {
      width: 50px;
    }

    header {
      display: flex;
      align-items: center;
    }

    .year {
      padding-right: 30px;
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    main {
      padding-left: 10px;
      padding-right: 10px;
    }

    .menu {
	      display: flex;
      list-style-type: none;
      padding-left: 0;
    }

    .menu-item {
      padding-left: 10px;
    }